@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background-color: #dddddd;
  color: #1b1b1b;
}

@layer utilities {
  .bg-blueprint {
    background-color: #2b5797; 

    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.15) 2px, transparent 2px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.15) 2px, transparent 2px),
      linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.08) 1px, transparent 1px);
    
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    
    background-attachment: local;
    background-repeat: repeat;
  }
}

@media (max-width: 767px) {
  .retro-scrollbar .simplebar-track {
    display: none !important;
  }
  
  .retro-scrollbar .simplebar-content-wrapper {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
  }
}

.retro-scrollbar .simplebar-track.simplebar-vertical {
  width: 20px;
  background-color: #dddddd; 
  border-left: 1px solid #000;
  opacity: 1;
}

.retro-scrollbar .simplebar-scrollbar::before {
  background-color: #ffffff !important; 
  border-radius: 0 !important;          
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  opacity: 1 !important;
  box-shadow: 0 0 0 1px #000000; 
}

.retro-scrollbar .simplebar-scrollbar.simplebar-visible::before,
.retro-scrollbar .simplebar-scrollbar:hover::before {
  background-color: #ffffff !important;
  opacity: 1 !important;
}

.swagger-page .swagger-ui,
.swagger-page .swagger-ui * {
  font-family: "VT323", monospace !important;
}